/* Knowledge base CSS styles */

a {-webkit-transition: color .2s ease-in-out; -moz-transition: color .2s ease-in-out; -ms-transition: color .2s ease-in-out; -o-transition: color .2s ease-in-out; transition: color .2s ease-in-out;}

.kb-box {background-color: #fff; border: solid 1px rgba(228, 228, 228, 0.33); box-shadow: 0 10px 10px -10px rgba(0,0,0,.3); border-radius: 3px; padding: 30px; text-align: center; -webkit-transition: box-shadow .25s cubic-bezier(.215,.61,.355,1); transition: box-shadow .25s cubic-bezier(.215,.61,.355,1);}

.kb-box:hover {box-shadow: 0 10px 10px -10px rgba(0,0,0,.5); -webkit-transition: box-shadow 0.3s ease-in-out 0s; -moz-transition: box-shadow 0.3s ease-in-out 0s; -o-transition: box-shadow 0.3s ease-in-out 0s; -ms-transition: box-shadow 0.3s ease-in-out 0s; transition: box-shadow 0.3s ease-in-out 0s; }

.kb-box--icon { font-size: 20px; }
.kb-box--title { font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; text-transform: uppercase; }

.kb_cat--title { font-size: 22px; display: inline-block; margin-right: 5px;}

.kb-category--articles ul { list-style: none; padding-left: 0; }
.kb-category--articles li::before { content: ''; display: inline-block; margin-right: 12px; width: 8px; height: 2px; background: #E1E1E1; vertical-align: middle; -webkit-transition: all .15s ease-out; transition: all .15s ease-out;}

.kb-category--articles li:hover::before {width: 12px; margin-right: 8px;}
.kb-category--header {border-bottom: solid 1px #ddd; margin-bottom: 15px; padding-bottom: 5px;}
.kb_cat--title {margin: 0; margin-bottom: 10px;}

.imgboxes_style1 .hoverBorderWrapper {height: 200px;}
.m_title.imgboxes-title { color: initial; }

.kb-video-list {list-style: none; padding-left: 0;}
.kb-video-list li::before {content: "\f144"; font-family: 'Font Awesome 5 Free'; font-weight: 900; font-size: 1.2rem; line-height: 1.6; position: absolute;}
.kb-video-list li a {font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.2rem; display: block; margin-left: 30px;}

.kb-breadcrumbs {background-color: #fff; position: relative;}
.kb-breadcrumbs-container {padding: 30px 0; text-transform: uppercase;}
.kb-breadcrumbs-container ul {list-style: none; padding: 0; margin: 0; font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;}
.kb-breadcrumbs-container li {display: inline-block;}

.kb-breadcrumbs-container li::after,
.article-category li::after {border: 4px solid transparent; content: ''; height: 0; width: 0; pointer-events: none; display: inline-block; border-left-color: #46b6cc; margin: 0 5px 2px 10px;}
.kb-breadcrumbs-container li:last-child::after,
.article-category li:last-child::after {display: none;}
.kb-breadcrumbs-container li.active a {color: #46b6cc;}

.sidebar.knowledgebase .views {margin-right: 20px;}
.sidebar.knowledgebase .views,
.sidebar.knowledgebase .likes,
.kb-category--related-articles .views,
.kb-category--related-articles .likes {position: relative; padding-left: 25px; cursor: pointer; -webkit-transition: color .2s ease-in-out; -moz-transition: color .2s ease-in-out; -ms-transition: color .2s ease-in-out; -o-transition: color .2s ease-in-out; transition: color .2s ease-in-out;}
.sidebar.knowledgebase .views::before,
.kb-category--related-articles .views::before {content: '\f06e'; font-family: 'Font Awesome 5 Free'; font-weight: 900; position: absolute; left: 0;}
.sidebar.knowledgebase .likes::before, 
.kb-category--related-articles .likes::before {content: '\f164'; font-family: 'Font Awesome 5 Free'; font-weight: 900; position: absolute; left: 0;} 

.sidebar.knowledgebase .views:hover,
.sidebar.knowledgebase .likes:hover {color: #46b6cc;}

.kb-category:hover .kb_cat--title a { color: #46b6cc; }

.kb-category {margin-bottom: 50px;}
.kb-category .kb-category--header {border-bottom: solid 2px #ddd;}
.kb-category .kb_cat--title a {position: relative; padding-left: 35px;}
.kb-category .kb_cat--title a::before {content: '\f14d'; font-family: 'Font Awesome 5 Free'; font-weight: 900; position: absolute; left: 0;}

.kb-category .kb-category--articles li {border-bottom: solid 1px #ddd; padding: 10px 0px; display: none;}
.kb-category .kb-category--articles li:first-child {padding-top: 0;}
.kb-category .kb-category--articles li::before {border: 4px solid transparent; content: ''; height: 0; width: 0; pointer-events: none; display: inline-block; border-left-color: #46b6cc; margin: 0 5px 0 10px; background:none; vertical-align: initial;}
    
.kb-category .kb-category--articles li:nth-child(-n+3) { display: block; }

.kb-category.is-opened .kb-category--articles li {display: block;}
.kb-category.is-opened .kb-item-more-toggle .fa-chevron-down::before {content: "\f077";}

.kb-item-more-toggle {text-transform: uppercase; font-weight: 900; font-size: 0.8rem; margin-top: 10px;}
.kb-item-more-toggle:after {content: attr(data-more-text);}
.kb-category.is-opened .kb-item-more-toggle:after {content: attr(data-less-text);}

.kb-article--title {font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 100; margin-top: 0;}
.post-info {margin-bottom: 20px; border-top: solid 1px #E6E6E6; border-bottom: solid 1px #E6E6E6; padding: 5px 0; display: inline-block; width: 100%;}
.post-info li {display: inline-block; cursor: pointer; padding: 5px 0px; margin-right: 15px;}
.post-info li:first-child {margin-left: 15px;}
.post-info li:hover span {color: #46b6cc;}
.post-info span {color: #ABABAB; margin-right: 2px; -webkit-transition: color .2s ease-in-out; -moz-transition: color .2s ease-in-out; -ms-transition: color .2s ease-in-out; -o-transition: color .2s ease-in-out; transition: color .2s ease-in-out;}
.post-info ul,
.post-info ol {margin: 0; padding: 0;}

.green-btn.btn-skewed:before{background-color: #7aa93c !important;}
.green-btn.btn-skewed:hover::before{background-color: #6f9a37 !important;}

.kb-category--related-articles {margin-bottom: 40px; margin-top: 50px;}
.kb-category--related-articles ul {list-style: none; padding: 0;}
.kb-category--related-articles li {border-bottom: solid 1px #ddd; padding: 10px 0;}

.kb-category--related-articles .likes, 
.kb-category--related-articles .views {cursor: pointer; margin-left: 15px; float: right;}

.article-category {margin-bottom: 40px;}
.article-category ul,
.article-tags ul {list-style: none; padding: 0;}
.article-category li, 
.article-tags li {display: inline-block; margin-bottom: 20px;}
.article-tags {margin-bottom: 40px;}
.article-tags a {position: relative; color: #fff; padding: 7px 15px; margin-right: 5px; z-index: 1;}
.article-tags a::before { content: ''; background-color: #46b6cc; border-radius: 4px; position: absolute; top: 0; left: 0; right: 0;
bottom: 0; -webkit-transform: skewX(-8deg); -ms-transform: skewX(-8deg); transform: skewX(-8deg); -webkit-transition: background-color .2s ease-in-out; transition: background-color .2s ease-in-out; z-index: -1;}
.article-tags a:hover::before { background-color:#a41a1b;}

.widget_tags .article-tags {margin-bottom: 0;}
.widget_tags .article-tags li {margin-top: 20px; margin-bottom: 0;}

.kb-search--post {background: #fff; padding: 25px; border-radius: 3px; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.15); margin-top: 30px;}
.kb-search--title {margin-top: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 32px; line-height: 40px; font-weight: 300; font-style: normal; margin-bottom: 15px;}


/* Video article */
.kb-video-container {/* margin-bottom: 5px; */}
.kb-video-heading {background: #fff; padding: 20px 25px; margin-top: -5px; border-radius: 3px; box-shadow: 0 10px 10px -10px rgba(0,0,0,.3); margin-bottom: 50px;}
.kb-video-heading .kb__title {margin-bottom: 15px; margin-top: 0; font-weight: 300; font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;}
.kb-video-heading .video-author { overflow: hidden; position: relative; padding-bottom: 20px;}
.kb-video-heading .video-author::before { content: ''; position: absolute; right: 0; bottom: 2px; width: 100%; height: 0; border-bottom: 1px solid #ececec;}
.kb-video-heading .video-author::after { content: ''; position: absolute; right: 0; bottom: 1px; width: 50px; height: 0; border-bottom: 3px solid #46b6cc;
border-radius: 4px;} 

.kb-video-heading .comm-user {display: block; width: 64px; height: 64px; float: left; margin-right: 15px; overflow: hidden; padding: 2px; border: 1px solid #ddd; line-height: 0; border-radius: 2px;}
.kb-video-heading .author { margin-left: 75px; margin-top: 0;}

.kb-video-heading .video-bottom { overflow: hidden; padding: 10px 0 0;}
.kb-video-heading .video-bottom .article-likes { margin-left: 15px; cursor: pointer;}
.kb-video-heading .video-bottom ul { display: inline-block; padding: 0; margin-bottom: 0}
.kb-video-heading .video-bottom ul li { display: inline-block; margin-right: 20px; cursor: pointer;}



/* Responsive styles */
/** Tablets (landscape mode)  **/
@media (min-width: 768px) and (max-width: 991px) {
	.sidebar.knowledgebase .views, 
	.sidebar.knowledgebase .likes {display: block;}
}

@media (max-width: 991px) {
	.kb_cat--title {font-size: 19px;}
}

@media (max-width: 768px) {
	.kb-video-heading .kb__title {font-size: 24px; line-height: 30px;}
}