/*
* jQuery Nivo Slider v3.1
* http://nivo.dev7studios.com
*
* Copyright 2012, Dev7studios
* Free to use and abuse under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* The Nivo Slider styles */
.kl-nivoslider .fake-loading {z-index: 2;}
.nivoContainer {position:relative;}
.nivoSlider { position:relative; width:100%; height:auto; overflow: hidden; z-index: 0;}
.nivoSlider img { position:absolute; top:0px; left:0px; max-width: none; }
.nivo-main-image { display: block !important; position: relative !important;  width: 100% !important; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none; }
/* The slices and boxes in the Slider */
.nivo-slice { display:block; position:absolute; z-index:5; height:100%; top:0; }
.nivo-box { display:block; position:absolute; z-index:5; overflow:hidden; }
.nivo-box img { display:block; }

.nivo-directionNav,
.nivo-directionNav a,
.nivo-controlNav.nivo-thumbs-enabled a img {-webkit-transition: all 0.15s ease-in; -moz-transition: all 0.15s ease-in; -ms-transition: all 0.15s ease-in; transition: all 0.15s ease-in;}


/* Caption styles */
.nivo-caption { padding: 0 15px; position: absolute; bottom: 20px;  line-height: 40px; color: #E9E9E9; margin: 0; display:inline-block; border-left: 5px solid #46b6cc; background: black;
background: rgba(0, 0, 0, 0.9); font-size: 17px; text-transform: uppercase; opacity: 0; filter:alpha(opacity=0); left: 120px; z-index:9999;
font-family: "Montserrat" , "Helvetica Neue", Helvetica, Arial, sans-serif; }
.nivo-caption p { padding:5px; margin:0; }
.nivo-caption a { display:inline !important; }
.nivo-html-caption { display:none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav {position: absolute; right: 20px; bottom: 20px; width: 61px; height: 40px; z-index:9999;}
.nivoSlider.showOnMouseover .nivo-directionNav {opacity:0; filter:alpha(opacity=0);}
.nivoSlider.showOnMouseover:hover .nivo-directionNav {opacity:1; filter:alpha(opacity=100);}
.nivo-directionNav a {width: 30px; height: 40px; margin: 0; display: block; cursor: pointer; text-indent: -9999px; float: left; background-color: #000; background-color: rgba(0, 0, 0, 0.9); background-image:url(images/k-nivo-nav.png); background-repeat:no-repeat; background-position:0 0;}
{background-position:100% 0; margin-left:1px;}
.nivo-directionNav .nivo-nextNav {background-position:100% 0; margin-left:1px;}
.nivo-directionNav a:hover {background-color:#46b6cc;}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav { position: absolute; text-align: center; line-height:1; top: 30px; left:auto; right: 30px; z-index: 2;}
.nivo-controlNav a { display: inline-block; width: 15px; height: 4px; margin: 0 3px; background: #000; opacity: 0.3; cursor: pointer; position:relative; border-radius: 2px; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; text-indent: 100%; white-space: nowrap; overflow: hidden;}
.nivo-controlNav a:hover,
.nivo-controlNav a.active { opacity: 0.6; }
.nivo-controlNav a.active { width: 27px;}

.nivo-controlNav.nivo-thumbs-enabled {position:relative; bottom:-20px;}
.nivo-controlNav.nivo-thumbs-enabled a { cursor:pointer; line-height:1; margin: 0 0 0 5px; display: inline-block; zoom: 1; opacity: 1; filter:alpha(opacity=100); position:relative; text-indent:0; background:none;
-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: none; width: auto; height: auto; -webkit-box-shadow: 0 0 0 4px black inset; -moz-box-shadow: 0 0 0 4px black inset; box-shadow: 0 0 0 4px black inset;}
.nivo-controlNav.nivo-thumbs-enabled a img {max-height:40px; cursor:pointer; opacity:0.7; filter:alpha(opacity=70); position:relative; -webkit-box-shadow: 0 0 3px black; -moz-box-shadow: 0 0 3px black; box-shadow: 0 0 3px black;}
.nivo-controlNav.nivo-thumbs-enabled a.active img,
.nivo-controlNav.nivo-thumbs-enabled a img:hover { opacity: 1; filter:alpha(opacity=100); -webkit-box-shadow: 0 0 8px black; -moz-box-shadow: 0 0 8px black; box-shadow: 0 0 8px black;}
